/* Main body styling */

body, html {
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  background-image: url('../Images/pride_rock_no_animals.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content, #instructions, main, footer {
  width: 700px;
  border: 2px solid orange;
  margin: 0 auto;
  background: rgba(0,0,0,0.6);
}

.content {
  display: flex;
  justify-content: space-around;
  color: beige;
  margin-bottom: 5px;
}

div {
  padding: 0;
}

main {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
  font-size:14px;
  color: beige;
}

#instructions {
  margin-top: 5px;
  margin-bottom: 5px;
}

#instructions p {
  font-size: 12px;
  color: beige;
}

/* Specific grid styling to use in JS */

.grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 700px;
  height: 400px;

}

.grid div {
  border-top: 0px solid white;
  border-bottom: 0px solid white;
  width: calc(100% / 13);
  height: calc(400px/ 8);
}

.grid div.water {
  background-color: rgba(120,196,215,0.7)
}

/* Images */
.grid div.simba {
  background-image: url('../Images/simba-2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid div.timon {
  background-image: url('../Images/timon-3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid div.pumbaa {
  background-image: url('../Images/pumba.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid div.scar {
  background-image: url('../Images/scar.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid div.wildebeest {
  background-image: url('../Images/wildebeest.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid div.hyena {
  background-image: url('../Images/hyena.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid div.zazu {
  background-image: url('../Images/zazu.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid div.elephant {
  background-image: url('../Images/elephanty.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
